<ion-content>
  <div class="main">
    <!-- Sidebar -->
    <div class="sidebar">
      <img class="iconBtn" id="logo" src="../../../../assets/icon/favicon.png" alt="" width="30" height="30">
      <img class="iconBtn" (click)="navigate('languages/index', undefined)" src="../../../../assets/icon/graduation-hat.svg" alt="" width="30" height="30">
      <img class="iconBtn" (click)="navigate('dictionary/index', undefined)" src="../../../../assets/icon/book.svg" alt="" width="30" height="30">
      <img class="iconBtn" (click)="navigate('notification/index', undefined)"  src="../../../../assets/icon/user.svg" alt="" width="30" height="30">
    </div>
    <!-- Main Content -->
    <div class="content">
      <h1 class="title">{{englishTitle}}</h1>
      <br>
      <br>
      <div class="half-divide">
        <div class="left"> <!-- Left side of the divide -->
          <div class="bigBox">
            <div >
              
              <button [ngClass]="{'selected' : currLanguage=='en', 'languageBtn':  true}" (click)="changeLanguage('en')" id="en">English</button>
              <button [ngClass]="{'selected' : currLanguage=='es', 'languageBtn': true}" (click)="changeLanguage('es')" id="es">Spanish</button>
            </div>
            <textarea readonly class="theoryBox" type="text" [ngModel]="theory.get(currLanguage)" (ngModelChange)="theory.set(currLanguage, $event)"></textarea>
          </div>
        </div>
        <div class="right"> <!-- Right side of the divide -->
          <h5 class="title">Exercises</h5>
          
        </div>
      </div>
    </div>
  </div>
</ion-content>
