<ion-content>
  <div class="main">
    <!-- Sidebar -->
    <div class="sidebar">
      <img class="iconBtn" id="logo" src="../../../../assets/icon/favicon.png" alt="" width="30" height="30">
      <img class="iconBtn" (click)="navigate('languages/index', undefined)" src="../../../../assets/icon/graduation-hat.svg" alt="" width="30" height="30">
      <img class="iconBtn" (click)="navigate('dictionary/index', undefined)" src="../../../../assets/icon/book.svg" alt="" width="30" height="30">
      <img class="iconBtn" (click)="navigate('notification/index', undefined)"  src="../../../../assets/icon/user.svg" alt="" width="30" height="30">
    </div>
    <!-- Main Content -->
    <div class="content">
      <div class="topContent">
        <h1 class="title">Languages</h1>
        <div class="add" (click)="navigate('languages/add', undefined)">
          <h5>Add Language</h5>
          <img class="iconBtn" src="../../../../assets/icon/more.svg" alt="" width="20" height="20">
        </div>
      </div>
      <ion-list *ngFor="let language of languages">
        <div class="card" (click)="navigate('lessons/index', language.id)">
          <div>
            <img class="roundImg" src="{{language.image}}" width="40px" height="40px">
            <h3>{{language.name['en']}}</h3>
          </div>
          <div>
            <img (click)="navigate('languages/add', language.id)" class="iconBtn" src="../../../../assets/icon/edit-button.svg" alt="" width="30" height="30">
            <img (click)="delete(language)" class="iconBtn" src="../../../../assets/icon/garbage.svg" alt="" width="30" height="30">
          </div>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
