/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Style for all submit buttons
.blue_button {
    background-color: #4969F5;
    color: #FAFAFA;
    padding: 1vh 10vw;
    margin: 5vh 0vw 2vh 0vw;
    border-radius: 5%;
}

// Style fo the login card
.login_card {

    margin: 5vw 10vw;
    text-align: center;
    align-content: center;
    .login_title {
        text-align: center;
    }

    ion-list {
        margin-right: 0.5vw;
        ion-item {
            margin-bottom: 0vh;
        }
    }
}