<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Main.css">
</head>

<body>
    <header>
        <img src="assets/logoInv.svg" alt="" width="20">
    </header>
    <nav>
        <div ></div>
        <div ></div>
        <div ></div>
        <a href="http://95.179.195.218:8100/login" class="login">Creators login</a>
    </nav>
    <main>
        
       <section>
            <h1>What is LanguagEz?</h1>
            <p>Want to learn a language but never find motivation to do so? <br>Do other similar apps
                feel like you are only learning vocabulary? <br>Do you have that feeling of satisfaction 
                when you collect achievements and see your level increase?<br> Well, this is your app!
            </p>
       </section>
       <section class="screenshots">
          <div class="row">
            <div class="column">
                <img src="assets/the.jpg" class="sc" alt="">
                <img src="assets/exe.jpg" alt="sc">
                <img src="assets/dic.jpg" alt="sc">
               </div>
          </div>
       </section>
       <section>
        <h1>How does it work?</h1>
        <p>
            You just have to download our apk, make an account and follow a language to start learning!
            <br>
            <a href="https://github.com/IvanTorres21/LanguagEzApp/releases/tag/v1.0">Download it here!</a>       
        </p>
       </section>
       <section >
        <div class="video">
            <video width="100%" controls>
                <source src="assets/video.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video>
        </div>
       </section>
    </main>
    <footer></footer>
</body>

</html> 